extends ../layout

block content 
    h1= title 

    div 
        h2= item.name 
        p By #{item.company}
        p #{item.inStock} in stock 
        p Category: #[a(href=item.category.url) #{item.category.name}] 
        p Price: $#{item.price}
        p Description: #{item.description}

    h3 Enter admin password to delete item
    form(action="" method='post')
        input(type="password" name='adminPassword' placeholder='admin password' style='width: 10rem')
        div= error
        button(type="submit") Delete 