extends ../layout

block content 
    h1= title 

    div 
        h2= category.name 
        p= category.description
    
    if itemsInCategory.length > 0
        div 
            h3 Delete these items before deleting this category

            each item in itemsInCategory 
                a(href=item.url) #[strong #{item.name}]
                div by #{item.company}
                div #{item.inStock} in stock
                br
            
    else 
        h3 Are you sure you want to delete this category?
        form(action="" method='post')
            button(type="submit") Delete 
