extends ../layout

block content 
    h1= title 

    div 
        h2= category.name 
        p= category.description
    
    if itemsInCategory.length > 0
        div 
            h3 Delete these items before deleting this category

            each item in itemsInCategory 
                a(href=item.url) #[strong #{item.name}]
                div by #{item.company}
                div #{item.inStock} in stock
                br
            
    else 
        h3 Enter admin password to delete category
        form(action="" method='post')
            input(type="password" name='adminPassword' placeholder='admin password' style='width: 10rem')
            div= error
            button(type="submit") Delete 
